@page "/"
@page "/work"
<GridTemplate SubHeader="My work">
    <Col1>
        @foreach (var item in Works)
        {
            <GridJob ParentMethod=@ChooseJob Item=@item ChosenJob=@ChosenJob />
        }
    </Col1>


    <Col2>
        @if (ChosenJob != null)
        {
            <div class="hidden md:block">
                <GridJobDetails ChosenJob=@ChosenJob />
            </div>
        }
    </Col2>


</GridTemplate>

@code {
    private Job? ChosenJob;
    private static IEnumerable<Job> Works = new Job[]
    {
new Job {Name = "Voyantic.com", Content = "Wordpress project, using a heavily modified theme together with Gutenberg and ACF-plugin. Learned alot of more complex things under the hood, such as Nginx-configurations.", Url = "https://voyantic.com/", Repo = "", Icon = Icons.FullStack},
new Job {Name = "Stremia.fi", Content = "Wordpress project, using a heavily modded theme with ACF-plugin. Lots of unique css-tricks, such as image/shape clipping.", Url = "https://stremia.fi/", Repo = "", Icon = Icons.FullStack},
new Job {Name = "Project Euler-submissions", Content = "My submissions for the Project Euler-site, which is a series of challenging mathematical/computer programming problems. Done with Rust. Started back in 2020, trying to get back on it. Fun little side project.", Url = "https://projecteuler.net/", Repo = "https://github.com/h4nnukainen/rust_euler", Icon = Icons.Other},
new Job {Name = "Cent.fi", Content = "Wordpress project, using a heavily modded theme with ACF-plugin.", Url = "https://cent.fi/", Repo = "", Icon = Icons.FullStack},
new Job {Name = "C++ Console App", Content = "A school project. Takes an array of games and lists them to the console. For demonstration the project includes Minesweeper as well. Learnt alot about pointers. Could return to this project and include filereader to it, so the games could be listed from an external file etc.", Repo = "https://github.com/h4nnukainen/cpp-harjoitustyo", Icon = Icons.Other},
new Job {Name = "SMTP-server with Express", Content = "Quick SMTP-server to transfer mail sent from this page. (not in use anymore)", Repo = "https://github.com/Miibotin/smtp-express", Icon = Icons.Backend},
new Job {Name = ".NET-test", Content = "Some testing to showcase some knowledge towards .NET-framework. An old demo that needs some updating to match my current skills.", Repo = "https://github.com/h4nnukainen/dotnet_test", Icon = Icons.Backend},
new Job {Name = "Plantiful", Content = "A school project. Mood tracker application for Android devices which includes a plant that grows on every entry. Plant changes its appearance based on the mood of given entries. This was a school project, produced in a team where I handled technical side of this application.", Repo = "https://github.com/h4nnukainen/plantiful", Icon = Icons.Mobile},
    };

    private void ChooseJob(int index)
    {
        ChosenJob = Works.ElementAt(index - 1);
    }

}