@page "/"
<GridTemplate SubHeader="My work">
    <Col1>
        @foreach (var item in Works)
        {
            <GridJob ParentMethod=@ChooseJob Item=@item ChosenJob=@ChosenJob />
        }
    </Col1>


    <Col2>
        @if (ChosenJob != null)
        {
            <div class="hidden md:block">
                <GridJobDetails ChosenJob=@ChosenJob />
            </div>
        }
    </Col2>


</GridTemplate>

@code {
    private Job? ChosenJob;
    private static IEnumerable<Job> Works = new Job[]
    {
        new Job {Name = "Further Development for an Insurance Company", Content = "Site which was transferred to our care. Including tons of custom made snippets and blocks we had to make it work in order to fix a long list of problems. After we proved our worth and fixed the problems, we also had a SEO case where we optimized the SEO of the site for the modern criterias.", Time = "11/2023 - 05/2024", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Further Development in a full stack application", Content = "Old Express.js backend, used by both Next.js and Angularjs frontends, I had smaller entourage with this project to ensure new capabilities are in place to suite the client's needs.", Time = "10/2022 - 09/2023", Repo = "", Icon = Icons.Backend},
        new Job {Name = "Multiple Projects for an University", Content = "A client for which I've done multiple projects, support tasks and many other things for the longest time. Most of the tasks include handling backend and server wide configurations and fixes and rest of the time has been wrangling their ancient and modern Wordpress sites.", Time = "07/2022 - 11/2024", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Full Stack Solutions for Company in the Creative Industry", Content = "Sizable full Stack project for handling payments for literary works, running Vue for frontend with Node.js backend using Express.js.", Time = "04/2022 - 05/2023", Url = "", Repo = "", Icon = Icons.Backend},
        new Job {Name = "Wordpress Project for a Tech Company", Content = "Wordpress project, using a heavily modified theme together with Gutenberg and ACF-plugin. Learned alot of more complex things under the hood, such as Nginx-configurations.", Time = "09/2021 - 12/2021", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Wordpress Project for a Construction Company", Content = "Wordpress project, using a heavily modded theme with ACF-plugin. Project also included an option for a modernized e-commerce solutions.", Time = "06/2021 - 09/2021", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Wordpress Project for a Real Estate Company", Content = "Wordpress project, using a heavily modded theme with ACF-plugin. One of the biggest challenges for me was the integration with Salesforce, which was both rewarding but also an arduous task.", Time = "04/2021 - 06/2021", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Wordpress Project for a Media Company", Content = "Wordpress project, using a heavily modded theme with ACF-plugin. Lots of unique css-tricks, such as image/shape clipping.", Time = "03/2021 - 04/2021", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Wordpress Project for a Construction Company", Content = "Wordpress project, using a heavily modded theme with ACF-plugin.", Time = "02/2021 - 03/2021", Repo = "", Icon = Icons.FullStack},
        new Job {Name = "Inventory management solutions for a Construction Company", Content = "Huge project in which I took care of the technical side all by myself. This inventory management-project includes a .NET backend for Rest API capabilities, Vue frontend and Flutter for mobile.", Repo = "", Time = "01/2020 - 06/2020", Icon = Icons.Backend},
        new Job {Name = "Classicberg Wordpress Plugin", Content = "A proof of concept plugin for one rfq case to test if it's possible to convert a ACF field data to Gutenberg blocks. Currently only works properly with just text and images and not in active development. Needs ACF.json -files in order to work.", Repo = "https://github.com/h4nnukainen/Classicberg", Icon = Icons.Backend},
        new Job {Name = "My Game Project", Content = "I occasionally return to this whenever I have time and motivation. My some sort of a game idea which may one day see the light of day. Made in Godot, at least this is a reason to keep my C# skills up to date.", Repo = "https://github.com/h4nnukainen/game_project", Icon = Icons.Other},
        new Job {Name = "Python Script", Content = "I created this Python script to handle compiling C++ code via Windows and Linux. Uses Conan to handle packages.", Url = "", Repo = "https://github.com/h4nnukainen/python-dev-make", Icon = Icons.Other},
        new Job {Name = "C++ Console App", Content = "A school project. Takes an array of games and lists them to the console. For demonstration the project includes Minesweeper as well. Learnt alot about pointers. Could return to this project and include filereader to it, so the games could be listed from an external file etc.", Repo = "https://github.com/h4nnukainen/cpp-harjoitustyo", Icon = Icons.Other}
    };

    private void ChooseJob(int index)
    {
        ChosenJob = Works.ElementAt(index - 1);
    }

}